@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Color Variables */
:root {
  --bg-dark: hsl(207 100% 2%);
  --bg: hsl(195 100% 2%);
  --bg-light: hsl(191 100% 3%);
  --text: hsl(188 100% 85%);
  --text-muted: hsl(188 58% 59%);
  --highlight: hsl(187 100% 12%);
  --border: hsl(189 100% 8%);
  --border-muted: hsl(192 100% 6%);
  --primary: hsl(185 100% 27%);
  --secondary: hsl(7 100% 74%);
  --danger: hsl(7 89% 66%);
  --warning: hsl(54 100% 25%);
  --success: hsl(162 100% 29%);
  --info: hsl(217 100% 69%);
}

/* Optional: Apply global styles */
body {
  @apply bg-[var(--bg-light)] text-[var(--text-muted)];
}
